@model IEnumerable<QLCHBanDienThoaiMoi.Models.GioHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
            </td>
            <td>
                @Html.FormatPrice(item.SanPham.GiaKhuyenMai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td class="text-center">
                
                    <div class="btn-group btn-group-sm column-gap-sm-1">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" title="Xóa">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
